
h2 {
	padding: 20px;
	width: 40%;
	color: rgb(128, 226, 43);
	font-family: Georgia;
}
td{
	width: 50%;
	color: #4CAF50;
	font-family: Verdana;
}
.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .button:hover {
	background-color: #3e628e
}

  .button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px rgb(126, 43, 43);
	transform: translateY(4px);
  }